.country-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 2vh;
    margin-left: 10vh;
    margin-right: 10vh;
}
.dash {
    display: grid;
    max-height: 100vh;
    overflow: scroll;
}

#country-name{
    margin: 2vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-radius: 10px;
    font-family: 'Montserrat Variable';
    font-size: 20px;
} 

.country-icon {
    background: none;
}

.dash-search {
    position: absolute;
    width: 100vw;
    margin-bottom: 4vh;
}
