body{
    background: linear-gradient(rgba(253,252,255) 0%, rgba(225, 210, 255) 100%);
    background-size: 100%;
    min-height: 100vh;
    overflow: scroll;
}

.login-box {
    background-color: rgba(146, 157, 235);
    height: 620px;
    width: 420px;
    margin-left: 520px;
    margin-top: 60px;
    border-radius: 30px;
    padding: 20px;
}

h2{
    color: white;
    margin-left: 20px;
    font-size: 40px;
    font-family: 'Mochiy Pop P One';
    font-weight: 50;
    margin-top: 10px;
}

.logo-image{
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-left: 20px;
}

.login-label{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: 'Montserrat Variable';
}

.login-input{
    display: block;
    border-radius: 15px;
    height: 40px;
    width: 350px;
    margin-left: 20px;
    border-style: none;
}

.login-button{
    display: block;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 15px;
    height: 50px;
    width: 355px;
    background-color: #610bd9;
    color: white;
    border-style: none;
    font-size: 20px;
    font-family: 'Mochiy Pop P One';
    font-weight: 50;
}


