.country-review {
    background-color: rgba(217, 219, 238);
    width: 40vw;
    margin-left: 3.5vw;
    margin-top: 4vh;
    border-radius: 7px;
    font-size: small;
    padding: 10vh;
}

.tags {
    display:grid;
    font-size: x-small;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}