/* Change the color of links on hover */
.country-search button:hover {
    background-color: #610bd9;
    color: white;
  }
  
/* Style the "active" element to highlight the current page */
.country-search button.active {
background-color: #610bd9;
color: white;
}

/* Style the search box inside the navigation bar */
.country-search input[type=text] {
float: middle;
padding-top: 0.85vw;
padding-bottom: 0.85vw;
padding-right: 13vw;
margin-left: 2vw;
border: none;
margin-top: 1vw;
margin-bottom: 1vw;
font-size: 17px;
border-radius: 6px;
}
/* #552dde; */
.submit-button {
background-color: #3c62e4;
border: none;
color: white;
padding-top: 1vw;
padding-bottom: 1vw;
padding-left: 2vw;
padding-right: 2vw;
text-decoration: none;
cursor: pointer;
margin-left: 1vw;
border-radius: 10px;
}
/* #3c62e4 */

.country-search {
    background-color: #e1d2ff;
    margin: 1.5vw;
    padding: 1vw;
    margin-left: 31vw;
    margin-right: 30vw;
    margin-top: 4vw;
    border-radius: 6px;
}