.head-cp {
    background: linear-gradient(rgba(253,252,255) 0%, rgba(225, 210, 255) 100%);
    max-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.cp {
    max-height: 80vh;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: 'Mochiy Pop P One';
}

.flag-image {
    border-radius: 5px;
    width: 25vw;
    height: 35vh;
  }

.rating-image {
    border-radius: 80%;
    height: 10vh;
    margin-left: 16vw;
  }
.o-r-header {
    margin-top: 4vh;
    background-color: rgba(217, 219, 238);
    padding: 1vw;
  }

.o-r-subsection {
    font-family: 'Montserrat Variable';
}
.overall-rating {
    background-color: rgba(146, 157, 235);
    padding-bottom: 4vh;
    border-radius: 10px;
}
.side-bar {
    margin: 2vw;
    width: 25vw;
}

.review-display {
    background-color: rgba(146, 157, 235);
    border-radius: 10px;
    margin-bottom: 19.7vh;
    max-height: 56.7vh;
    overflow: scroll;
}
.review-header {
    background-color: rgba(217, 219, 238);
    font-size: larger;
    margin-bottom: -2vh;
    position:relative;
    padding-left: 3vw;
    padding-top: 2vw;
}

.country-review {
    background-color: rgba(217, 219, 238);
    width: 40vw;
    height: 20vh;
    margin-left: 3.5vw;
    margin-top: 4vh;
    border-radius: 7px;
}

.country-name {
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: rgba(155, 121, 214);
    padding: 2vw;
    padding-bottom: 1vh;
    border-radius: 10px;
}

.reviews {
    display: grid;
    grid-template-rows: 0.6fr 0.3fr 3fr;
}

.v-groups-display {
    background-color: rgba(146, 157, 235);
    margin-left: 5vw;
    margin-top: 2vh;
    margin-bottom: 19.8vh;
    margin-right: 2vw;
    border-radius: 10px;
}

.vulnerable-tab {
    background-color: rgba(204, 198, 246);
    width: 10vw;
    height: 5vh;
    margin-left: 1.8vw;
    margin-top: 2vh;
    border-radius: 7px;
    /* padding-left: 3vw;
    padding-top: 2.5vh; */
    font-size: 100%;
    font-family: 'Montserrat Variable';
}

.vulnerable-tab:hover {
    background-color: rgba(217, 219, 238);
}

.heart {
    color: rgba(217, 219, 238);
    cursor: pointer;
}

.heart.clicked {
    color: rgba(217, 219, 238);
}

.v-groups-header {
    background-color: rgba(217, 219, 238);
    padding-top: 2vh;
    padding-bottom: 3vh;
    padding-left: 2.5vw;

}